 * {
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
 }

 #root {
   --light-cyan: hsl(193, 38%, 86%);
   --neon-green: hsl(150, 100%, 66%);
   --grayish-blue: hsl(217, 19%, 38%);
   --dark-grayish-blue: hsl(217, 19%, 24%);
   --dark-blue: hsl(218, 23%, 16%);
 }

 body {
   background: var(--dark-blue);
   color: var(--light-cyan);
   -webkit-font-smoothing: antialiased;
 }

 body,
 input,
 button,
 table {
   font-size: 28px;
   font-family: 'Manrope', sans-serif;
 }



 button {
   cursor: pointer;

 }

 body {
   height: 100vh;

 }

 #root {
   height: 100%;
 }

 .container {
   align-items: center;
   display: flex;
   justify-content: center;
   height: 100%;
 }

 .main {
   margin: auto;
   color: var(--light-cyan);
   background: var(--grayish-blue);
   width: 40%;
   max-width: 450px;
   padding: 4rem;
   text-align: center;
 }


 .main h6 {
   color: var(--neon-green);
   text-transform: uppercase;
   letter-spacing: 5px;
 }